backups
crash-reports
downloads
journeymap
local
logs
mods
patchouli_books
resourcepacks
saves
screenshots
tconplanner
.curseclient
minecraftinstance.json
patchouli_data.json
usercache.json
usernamecache.json